@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    box-sizing: border-box;
  }
body{
    font-family: 'Quicksand', sans-serif;
    padding: 0; 
    margin: 0;

    
}

nav{
    background-color: #b3562e;
    padding: 5px;
}

nav a{
    font-weight: bold;
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
}

nav li{
    display: inline;
    margin-right: 20px;
    list-style-type: none;   
}

.jumbotron{
    font-size: 20px;
    padding: 60px;
    background-color: brown;
    text-align: center;
    color: aliceblue;
}

h2{
    color: brown;
}

h3{
    color: cadetblue;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
   object-position: center;
 }

.profile img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
 }


.main{
    padding: 20px;
    overflow: auto;
}


.content{
   float: left;
   width: 75%;
}

aside {
    object-position: center;
    float: right;
    width: 25%;
    padding-left: 20px;
}


footer {
    padding: 20px;
    color: white;
    background-color: brown;
    text-align: center;
}


.footer{
    width:100%  ;



}
 
